<?php
	$start_label = 'Select a Neighborhood';
	if(sizeof($options) > 0) {
		echo "<option value='0'>$start_label</option>";
    	foreach($options as $k => $v) {
    		echo "<option value='$k'>$v</option>";
    	}
	} else {
		echo "<option value='0'>No entries</option>"; 
	}
?>