<style type="text/css">
	<!--
	#nav ul { list-style: none; float:right; padding-right: 8px; width: <?=$width * sizeof($nav_list)?>px; }
	-->
</style>
<div id="nav">
	<ul>
		<?
		foreach($navs as $nav):
			echo "<li>".$html->link($nav['Nav']['title'], $nav['Nav']['url'])."</li>";
		endforeach;
		?>
	</ul>
</div>