<div>Successfully slugged that shit for <b>(<?php echo sizeof($success); ?>)</b> zip codes.</div>
<div>Couldn't slug nuthin for <b>(<?php echo sizeof($failure); ?>)</b> zip codes.</div>

<?php 
if(sizeof($failure) > 0) {
	?><p>Failed for the following:</p><?php 
	foreach($failure as $zip => $slug):
		echo $zip.' : '.$slug.'<br />';
	endforeach;
}
?>