<div style="width:15px;" class="ui-icon-container left ui-state-default ui-corner-all">
	<a href="#" title="Drag & Drop to Change Sort Order"><div class="ui-icon ui-icon-arrowthick-2-n-s"></div></a>
</div>