/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

/* USAGE: <?php echo $html->css('image-rollover'); ?>
		  <a class="thumbnail" href="#thumb">
				<?=$html->image('banner-atlanta.jpg', array('width'=>'100', 'height'=>'66'))?>
				<span><?=$html->image('banner-atlanta.jpg', array('height'=>'200'))?><br />Photo Tagline here.</span>
		  </a>
 * 
 */


.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}