@charset "utf-8";

* { margin: 0; padding: 0;}
img { border:none;}
img.bordered-logo, img.bordered { padding:2px; border:1px solid #f67d07; }
img.bordered-logo { width:70px; }
.tbl-photo { width: 90px; height: 60px; }

a{ text-decoration: underline; color: #f67d07; }
a:visited { color: #f67d07; }
a:hover { text-decoration: none;}
a:focus { outline:none;}

h2 { padding-bottom: 12px;}
h1{ font-size: 18px; color: #4f7a35;}
h2{ font-size: 14px; color: #f67d07; }
h3{ font-size: 12px; }

h3.orange-hdr { color: #f67d07; font-size: 14px; padding-left: 20px; margin-bottom: 5px; }

p{ padding-bottom: 12px; line-height: 18px; }

table { border-collapse: collapse; width: 100%; }

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4d3428;
}
fieldset { border: 1px solid #F79206; padding: 10px; }
legend { color: #4D3428; font-size: 11px; font-weight: bold; border: 1px solid #E78F08; padding: 3px 6px;
		 background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; }

hr {
	width: 100%;
	margin: 5px 0px 10px 0px;
}
hr.green { border: 1px solid #4f7a35; }

border-b-orange {  }

body { background:url(../img/backdrop.gif) repeat-x top;}
body.inside { background:url(../img/backdrop2.jpg) repeat-x top;}
/* -----------------structure------------------- */
#preload { display: none; height:0px;}

#superdrop { background:url(../img/superdrop.jpg) no-repeat center top;}
#container { width: 960px; margin: 0 auto;}

#header{ height: 120px;}
	#logo { width: 380px; height: 120px;}
	#logo h2 {}
	#logo a {
		display: block;
		text-indent: -3000px;
		width: 380px;
		height: 120px;
		}	
	#tagline { width: 580px; padding-top: 55px; text-align: right;}
		#tagline h3 { font-size: 18px; color: #FFFFFF; font-style:italic; font-weight: normal;}

#header2 { height: 180px; width: 968px; margin: 0 auto;}
	#header2 p { padding: 10px 20px; font-size: 14px; font-weight: bold;}
	
#nav { height: 32px; padding-bottom: 11px;}
#nav ul { list-style: none; float:right; height: 32px;}
#nav li { float: left;}
#nav li.first { background:url(../img/nav-break.gif) no-repeat left top;}

#nav a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 15px;
	text-decoration: none;
	color: #FFFFFF;
	background:url(../img/nav-break.gif) no-repeat right top;
	}
#nav a:hover { text-decoration: underline;}

#primary li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	background-color:#666666;
}

#primary li:hover ul, #primary li.sfhover ul {
	left: auto;
}


#banner{}

#wrapper { background:url(../img/wrapper.jpg) no-repeat top; min-height: 300px; }
	#leftcol {}
	#rightcol {}
	#singlecol {}
	
	#maincol { width: 608px; z-index:3; position: relative; padding-top: 10px;}
		
		#benefits-box { background:url(../img/pizza-delivery-news.jpg); height: 102px; color: #FFFFFF; padding: 15px 20px 0 20px; margin-bottom: 12px;}
		#benefits-box h2 { color: #FFFFFF; font-size: 22px;}
		#benefits-box ul { list-style: none; padding: 0px;}
		#benefits-box a, #benefits-box a:visited { color:#4F7A35; }
		#benefits-box a:hover { color:#fff; }
		#benefits-box li { font-weight: bold; font-size: 14px; padding-bottom: 7px;}
		
		#header-our-menu { background:url(../img/header-our-menu.gif);
			height: 33px; width: 128px; position: absolute; padding: 0px; text-indent: -3000px;
			top: -24px;
			left: 20px;}

		#latest-news { margin-top: 15px; }

	#sidebar { width: 319px; padding-top: 10px; z-index:4; position: relative;}
		#side-features, #side-features-small, #side-search, #side-guestcheck { padding: 10px 15px;} 
		#side-features h2, #side-features-small h2, #side-search h2, #side-guestcheck h2{ color: #FFFFFF; font-size: 22px;} 
		#side-features { background:url(../img/sidebar-green.gif); background-repeat:no-repeat; height: 226px;}
		#side-features-small { background:url(../img/sidebar-green-small.gif); background-repeat:no-repeat; height: 156px;}
		#side-search { background:url(../img/sidebar-orange-small.gif); height: 166px; margin-bottom:10px; }
		#side-guestcheck { background-color: #95a93b;}

		#side-home-ad { padding: 5px 7px; margin: 0 2px; }
		
		#side-search label { color: #FFFFFF; font-weight: bold; line-height: 22px;}
		#side-search table { margin-bottom: 20px;}
		#side-search td { padding: 2px;}
		
		#gc-cart td, #gc-total td { padding: 2px;}
		#gc-cart { margin-bottom: 12px;}
		#gc-total { margin-bottom: 12px;}

#footer-pizza { background:url(../img/footer-pizza.jpg); width: 391px; height: 295px; position: absolute; right: -100px; top: -295px; z-index: 2;}
#footer-pizza2 { background:url(../img/footer-pizza.jpg); width: 391px; height: 295px; position: absolute; left: -100px; top: -295px; z-index: 2;}
#superfooter { background:url(../img/footer.gif) repeat-x top; padding-top: 35px; }	
#footer { width: 960px; margin: 0 auto; font-size: 10px; color: #999999; text-align: right; 
		  position: relative; padding-top: 20px; }

#userNav { padding: 5px 10px; }

/* ------------universal classes------------- */

th { text-align: left;}


#maincol ul.no-list, ul.no-list { list-style: none; padding: 0px;}

.list-tomato { list-style: none; }
.list-tomato li { line-height: 18px; background:url(../img/list-tomato.gif) no-repeat top left; padding-left: 22px; margin: 0px 0px 5px 10px; }
.list-tomato a { font-weight:bold; text-decoration: none; }
.list-tomato a, .list-tomato a:visited { color: #4f7a35; }
.list-tomato a:hover { text-decoration: underline; }
.list-tomato2 { list-style: none; color: #fff;}
.list-tomato2 li { line-height: 24px; background:url(../img/list-tomato.gif) no-repeat top left; padding-left: 22px;}

.topping-hr { background-image:url('../img/list-tomato2.gif'); background-repeat:repeat-x; width:100%; height: 30px; vertical-align:top; } 

.icon-feature { background:url(../img/icon-feature.gif) no-repeat right; display: inline-block; padding-right: 40px;}
.icon-search { background:url(../img/icon-search.gif) no-repeat right top; display: inline-block; padding-right: 25px;}

.list-green-check { list-style: none; }
.list-green-check li { padding: 3px 0px; }

.width-half { width: 50%;}
.width-quarter { width: 25%;}

.rdbox-top { background:url(../img/rdbox-top.gif) no-repeat top left; height: 9px; position: relative;}
.rdbox-ex { background:url(../img/rdbox-ex.gif) repeat-y left; padding: 10px 20px;}
.rdbox-ex h3 { font-size: 16px; color: #f67d07; }
.rdbox-ex a { color: #f67d07;}
.rdbox-end { background:url(../img/rdbox-end.gif) no-repeat top left; height: 9px; padding-bottom: 12px;}



.header-link, .green-link { text-decoration: none; color: #4f7a35; font-weight:bold; }
.header-link { font-size:14px; }



.valign-t, .valign-top { vertical-align: top;}
.valign-m, .valign-mid { vertical-align: middle;}
.valign-b, .valign-bottom { vertical-align: bottom;}

.small, .sm { font-size:10px; }
.default {}
.large, .lg { font-size: 14px;}
.xlarge, .xlg { font-size: 17px;}
.xxlarge, .xxlg { font-size: 20px;}

.img-center { display:block; margin: 0 auto;}
.img-left { float:left; padding: 0 10px 5px 0;}
.img-right { float:right; padding: 0 0 5px 10px;}

.txt-center, .txt-c { text-align: center;}
.txt-right, .txt-r { text-align: right;}
.txt-left, .txt-l { text-align: left;}
input:focus {
	border:1px solid #f67d07;
} 
.form-text, .form-textarea { border: none; padding: 2px 3px; width: 180px; border:1px solid #848484; vertical-align:top; }
.form-select { border: none; padding: 2px 3px; border:1px solid #848484;}
.form-style { border: none; padding: 2px 3px;}
.form-style2 { border: none; padding: 2px 3px; border:1px solid #d4d4d4;}
.form-table th { width: 200px; }
.form-table td { padding: 2px;}

.list-table { margin-bottom: 10px; font-weight: bold; }
.list-table a { text-decoration:none; font-size:12px; }
.list-table tr td { vertical-align: top; }
.list-table td { padding:4px 2px 2px 2px; }
.list-table th { padding: 5px 0px; color: #4f7a35; }
.list-table th a { text-decoration:underline; color: #4f7a35; }

.shopping-cart-list td { padding: 4px 2px 10px 2px; }

.label-req { font-weight: bold; }
.label-req, .label { text-align:right; font-size: 90%; vertical-align:top;}

.right { float:right;}
.left { float:left;}
.clear { clear: both;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.error-message { color: #bb080d; font-size: 10px; }
.error { color: #bb080d; }
.error input textarea {
	border: 1px solid #bb080d;
}

/* Paging */
div.paging { color: #ccc; }
div.paging div.disabled { color: #ddd; display: inline-block; }

.gray-border, .green-border, .orange-border, .red-border, .tbl-photo { border:1px solid; border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; }
.gray, .gray-border { color: #ddd; }
.dark-gray { color: #333; }
.green, .green-border { color: #4f7a35; }
.orange, .orange-border { color: #f67d07; }
.red, .red-border { color: #bb080d; }
.blue, .blue-border { color: blue; }
.dbl-border { border: 2px solid; }
.white { color: #fff; }

a.green:visited { color: #4f7a35; }
a.green:hover { color: #f67d07; }


.pad-L5, .pad-l5 { padding-left:5px; }
.pad-L10, .pad-l10, .pad-left10 { padding-left:10px; }
.pad-L20, .pad-l20 { padding-left:20px; }
.pad-R5, .pad-r5 { padding-right:5px; }
.pad-R10, .pad-r10 { padding-right:10px; }
.pad-R20, .pad-r20 { padding-right:20px; }
.pad-B5, .pad-b5 { padding-bottom:5px; }
.pad-B10, .pad-b10 { padding-bottom:10px; }
.pad-B20, .pad-b20 { padding-bottom:20px; }
.pad-T5, .pad-t5 { padding-top:5px; }
.pad-T10, .pad-t10 { padding-top:10px; }
.pad-T20, .pad-t20 { padding-top:20px; }
.pad1 { padding: 1px; }
.pad2 { padding: 2px; }
.pad3 { padding: 3px; }
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }

.marg2 { margin: 2px; }
.marg-b2 { margin-bottom: 2px; }
.marg-t2 { margin-top: 2px; }
.marg5 { margin: 5px; }
.marg-b5 { margin-bottom: 5px; }
.marg-t5 { margin-top: 5px; }
.marg10 { margin: 10px; }
.marg-b10 { margin-bottom: 10px; }
.marg-t10 { margin-top: 10px; }
.marg20 { margin: 20px; }
.marg-b20 { margin-bottom: 20px; }
.marg-t20 { margin-top: 20px; }

.basefont, .base {font-size: 80%; }
.required {	color: #f67d07; }
.bold, .b {	font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }

.no-border { border: none; }

.alt-row, .altrow { background-color: #e5e3e3; }
.accent-row { height:1px; background-color:#f67d07; padding: 0px; }
.accent-row-gray { height:1px; background-color:#ddd; padding: 0px; }
.accent-row-green { height:1px; background-color:#4f7a35; padding: 0px; }

.size-label { float: left; width:210px; padding-right:20px; }

.icon-tooltip { font-weight: bold; color: #bb080d; cursor: pointer; width:20px; height: 20px; 
				background-image:url('../img/icons/16-blue-help.png'); background-repeat: no-repeat; }