</tr>
			<tr>
				<td align="center" valign="top" style="border-collapse: collapse;">
				<!-- // Begin Template Footer \\ -->
				<table border="0" cellpadding="0" cellspacing="0" width="600"
					id="templateFooter"
					style="background-color: #FAFAFA; border-top: 3px solid #909090;">
					<tr>
						<td valign="top" class="footerContent"
							style="border-collapse: collapse;"><!-- // Begin Module: Standard Footer \\ -->
						<table border="0" cellpadding="10" cellspacing="0" width="100%">
							<tr>
								<td valign="top" width="350" style="border-collapse: collapse;">
								<div
									style="color: #707070; font-family: Arial; font-size: 11px; line-height: 125%; text-align: left;">
								<em>Copyright &copy; 2011 Order A Slice, All rights reserved.</em>
								</td>
							</tr>
						</table>
						<!-- // End Module: Standard Footer \\ --></td>
					</tr>
				</table>
				<!-- // End Template Footer \\ --></td>
			</tr>
		</table>
		<br>
		</td>
	</tr>
</table>
</center>
</body>
</html>