<!DOCTYPE XHTML PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN">
<html>
<body>
<p>A comment from the OrderASlice contact form. <b>(<?php echo $contact['timestamp']; ?>)</b></p>
<p>Name: <?=$contact['fname'].' '.$contact['lname']?></p>
<p>Type: <?=$contact['type']?></p>
<p>Phone: <?=$contact['phone']?></p>
<p>Email: <?=$contact['email']?></p>
<p>City: <?=$contact['city']?></p>
<p>State: <?=$state['State']['name']?></p>
<p>Comments: <?=$contact['comments']?></p>
</body>
</html>