<html>
<body>
<p>This is a warning message from OrderASlice.com.</p>
<p>A user has been added, but there was an error geocoding the address</p>
<hr /><b>Timestamp: </b> <?=date("Y-m-d h:i:s") ?><hr />
<p><b>Full User Name:</b> <?=$user['User']['fname']." ".$user['User']['lname'] ?><br />
<p><b>Username:</b> <?=$user['User']['username']?><br />
<b>Id:</b><?=$user['User']['id'] ?></p><hr />
<?=$user['User']['address'] ?><br />
<?=$user['User']['city'].", ".$user['State']['abbr']." ".$user['User']['zip'] ?></p>
</body>
</html>