<html>
<body>
<p>This is a warning message from OrderASlice.com.</p>
<p>A restaurant location has been added, but there was an error geocoding the address</p>
<hr /><b>Timestamp: </b> <?=date("Y-m-d h:i:s") ?><hr />
<p><b>Advertiser:</b> <?=$location['Advertiser']['name'] ?><br />
<b>Id:</b><?=$location['Location']['advertiser_id'] ?></p><hr />
<p><b>Location:</b> <?=$location['Location']['name'] ?><br />
<b>Id:</b><?=$location['Location']['id'] ?><br />
<?=$location['Location']['address1'] ?><br />
<?=$location['Location']['city'].", ".$location['State']['abbr']." ".$location['ZipCode']['id'] ?></p>
</body>
</html>