<html>
<body>
<p><?=$order['Order']['timestamp'] ?></p>
<p>The following Notification errors occurred for Order id: <?=$html->link($order['Order']['id'], 
																		   'http://orderaslice.com/orders/'.$order['Order']['filename'])?>.</p>
<div style="color:red;font-weight:bold;">
	<?
	if($order['Order']['success_fax'] == 0) {
		?><p>Fax Error: <?=$order['Location']['fax']?></p><?
	}
	if($order['Order']['success_sms'] == 0) {
		?><p>SMS Error: <?=$order['Location']['sms']?></p><?
	}
	if($order['Order']['success_fax'] == 0) {
		?><p>Email Error: <?=$order['Location']['contact_email']?></p><?
	}
	?>
</div>
<p>Location Info:<br />
<?=$order['Location']['name'] ?><br />
Store Phone: <?=$order['Location']['phone'] ?></p>

<p>Contact Info:<br />
<?=$order['Location']['contact_fname']." ".$order['Location']['contact_lname'] ?><br />
Contact Phone: <?=$order['Location']['contact_phone'] ?></p>
</body>
</html>