<!DOCTYPE XHTML PUBLIC "-//W3C//DTD XHTML 1.0 strict//EN">
<html>
<body>
<p>A potential prospect from the OrderASlice prospect form. <b>(<?php echo $prospect['timestamp']; ?>)</b></p>
<p>Restaurant: <?=$prospect['name']?></p>
<p>Contact Info: <?=$prospect['contact']?></p>
<p>Phone: <?=$prospect['phone']?></p>
<p>Website: <?=$prospect['website']?></p>
<p>Address: <?=$prospect['address']?></p>
<p>City: <?=$prospect['city']?></p>
<p>State: <?=$state?></p>
<p>Zip: <?=$prospect['zip']?></p>
</body>
</html>