<html>
<body>
<p>Dear <?=$name?>,</p>
<p>In response to your request, we have emailed your current username on file with us at <?=$html->link('orderaslice.com', 'http://orderaslice.com') ?></p>
<p>Username: <?=$username?></p>
<p><?=$html->link('Click here to login to your account.', 'http://orderaslice.com/advertisers/login')?></p>
<p>Sincerely,<br />The Order A Slice Team<br />customer-service@orderaslice.com</p>
</body>
</html>