<?=$html->meta('keywords', $content['ContentPage']['seo_keywords'], array('type'=>'keywords'), false) ?>
<?=$html->meta('description', $content['ContentPage']['seo_description'], array('type'=>'description'), false) ?>
<h2><?=$content['ContentPage']['title'] ?></h2><hr />
<?=$content['ContentPage']['content'] ?>
<?=debug($content) ?>